body{
    background-color: rgb(3, 97, 73);
    background-image: url("../img/fondo.jpg");
    background-repeat:repeat;

}

#container{
    position: absolute;
    height: 100%;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
}

#table{
    height: 80%;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    
    background-image: url("../img/mesa.jpg");

    border-style:  solid solid dashed solid;
    border-width: 10px;
    border-color: rgb(31, 23, 23);
    border-bottom-left-radius:60%;
    border-bottom-right-radius:60%;
}

.info {
    position: absolute;
    color: white;
    z-index: 2;
}

/*Buttons*/

.buttonContainer{
    position: relative;
    text-align: center;
    top: 100%;
}
.btn{
    justify-content: center;
    width: fit-content;
    position: relative;
    top: 10;
    text-align: center;
    transition-duration: 0.2s;
    background-color: rgb(129, 85, 41);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0,#000 4px 4px 0 1px;
    color: rgb(10, 9, 9);
    cursor: pointer;
    display: inline-block;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    font-size: 14px;
    font-weight: auto;
    line-height: 20px;
    padding: 12px 50px;
    margin: 2px;
}.btn:hover {
  background-color: rgb(82, 55, 27);
}.btn:active {
  transform: translate(2px, 2px);
  outline: 0;
  box-shadow: rgb(0, 0, 0) 2px 2px 0 0, #000 2px 2px 0 1px;
}

.pedir, .iniciar {
    background-color: green;
}.pedir:hover, .iniciar:hover {
    background-color: rgb(2, 77, 2);
}
.cancelar, .terminar {
    background-color: red;
}.cancelar:hover, .terminar:hover {
    background-color: rgb(134, 2, 2);
}
.cancelar, .terminar , .pedir, .iniciar{
    display: none;
}


/*Cards*/

.cards{
    position: absolute;
    text-align: center;
    transform: translate(-50%);
    left: 50%;
} .usuario {
    transform: translate(-50%, -50%);
    top: 60%;
} img {
    height: 116px;
}

.cardSlot{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;

    height: 120px;
    width: 91px;
    background-color: rgba(255, 255, 255, 0.616);

    border-radius: 5%;
    /*border: 3px rgb(0, 0, 0) dashed;*/
    
}

/* Chips */

.chip{
    cursor:pointer;
    width: fit-content;
    height: fit-content;
}

#money{
    height: 100%;
    width: 20%;
    left: 0;
    text-align: center;
    
    background-color: rgb(43, 26, 10);

    color: rgb(255, 255, 255);
}

.chipContainer{
    display:flex;
    text-align: center;
    width: 100%;
    height: 10%;
    bottom: 0;

    position: absolute;
    left: 0;
    bottom: 0; 

    background-color: rgb(106, 60, 55);

    margin: auto;

    border: 3px rgb(43, 26, 10) solid;
} .chipContainer img{
    margin: auto;
}