body{
    background-color: rgb(3, 97, 73);
    background-image: url("../img/fondo.jpg");
    background-repeat:repeat;

}

#container{
    position: absolute;
    height: 100%;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
}

#table{
    height: 80%;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    
    background-image: url("../img/mesa.jpg");

    border-style:  solid solid dashed solid;
    border-width: 10px;
    border-color: rgb(31, 23, 23);
    border-bottom-left-radius:60%;
    border-bottom-right-radius:60%;
}

.buttonContainer{
    text-align: center;
  }

/*Cards*/

.cards{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    text-align: center;
}

.cardSlot{
    position: relative;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;

    width: 67px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.616);

    border-radius: 5%;
    /*border: 3px rgb(0, 0, 0) dashed;*/
    
}

/* Chips */

.chip{
    cursor:pointer;
    width: fit-content;
    height: fit-content;
}

.money{
    height: 100%;
    width: 20%;
    left: 0;
    text-align: center;
    
    background-color: rgb(43, 26, 10);

    color: rgb(255, 255, 255);
}

.chipContainer{
    display:flex;
    text-align: center;
    width: 100%;
    height: 10%;
    bottom: 0;

    position: absolute;
    left: 0;
    bottom: 0; 

    background-color: rgb(106, 60, 55);

    margin: auto;

    border: 3px rgb(43, 26, 10) solid;
} .chipContainer img{
    margin: auto;
}