/*Text*/

#container h1{
    font-family: 'Nanum Myeongjo', serif;
    text-align:center;
    height: fit-content;
}

#title{
    text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
    font-size: 8em;
    background-color: rgb(8, 46, 6);
    color: rgb(129, 85, 41);
}

/*Containers*/

body{
    background-color: rgb(3, 97, 73);
}

#container{
    border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
    position: absolute;
    flex-direction: column;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    align-items: center;
    align-content: center;
    text-align: center;
    
    background-color: rgb(12, 68, 8);
    border-style:  solid solid dashed solid;
    border-width: 10px;
    border-color: rgb(129, 85, 41);
}

#profilesDiv{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    grid-gap: 1%;
    width: 45%;
    max-height: 30%;
    overflow-y:scroll;
    background-color: rgb(12, 68, 8);
    margin: auto;
}

/*Buttons*/

.buttonContainer{
  text-align: center;
  position: relative;
}

.btn{
    margin-top: 5%;
    justify-content: center;
    width: fit-content;
    position: relative;
    top: 10;
    text-align: center;
    transition-duration: 0.2s;
    background-color: rgb(129, 85, 41);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0,#000 4px 4px 0 1px;
    color: rgb(10, 9, 9);
    cursor: pointer;
    display: inline-block;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
    font-size: 14px;
    font-weight: auto;
    line-height: 20px;
    padding: 12px 50px;
}.btn:hover {
  background-color: rgb(82, 55, 27);
}.btn:active {
  transform: translate(2px, 2px);
  outline: 0;
  box-shadow: rgb(0, 0, 0) 2px 2px 0 0, #000 2px 2px 0 1px;
}

/*Profiles div*/

.profile{
    position: relative;
    display: flex;
    width: 20%;
    justify-content: center;
    background-color: blanchedalmond;
    align-items: center;
    flex-direction: column;
    border-width: 50px;
    border-color: aqua;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}.profile img{
    border-radius: 50%;
    position: relative;
    width: 80%;
    height: 150px;
    margin-top: 5px;
    transition: ease-in-out 0.3s;
}.profile img:hover {
    border-radius: 0%;
    cursor: pointer;
}

/*Pop up form*/
#myForm {
  border:orange;
  display: none;
}

.form-container {
  background-color: rgb(8, 46, 6);
  font-family: 'Nanum Myeongjo', serif;
  position: absolute;
  width: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  justify-content: center;
  padding: 1%;
  border-radius: 1%;
  text-align: center;
}.form-container input {
  font-family: 'Nanum Myeongjo', serif;
  background-color: rgb(12, 68, 8);
  position: relative;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
}.form-container label{
  text-align: left;
}.form-container input:focus{
  background-color: #ddd;
  outline: none;
}.form-container .crear {
  background-color: green;
  align-self: center;
}.form-container .cancel {
  background-color: red;
  justify-self: center;
}.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}::-webkit-scrollbar-track {
  background: #f1f1f1;
}::-webkit-scrollbar-thumb {
  background: #888;
}::-webkit-scrollbar-thumb:hover {
  background: #555;
}
